POSTGRES_DATABASE_URL = "your_postgres_url_here"

JWT_SECRET_KEY = "your_jwt_secret_key_here" 
JWT_ALGORITHM = "HS256"

REDIS_URL = "your_redis_url_here"
REDIS_HOST = "your_redis_host_here"
REDIS_PORT = "your_redis_port_here"